<div class="row">

  <div class="span6">
    <div class="bsa well">

    </div>
  </div>
</div>

<div class="subnav">
  <ul class="nav nav-pills">
    <li><%= link_to "Bratislava", home_path(1) %></li>
    <li><%= link_to "Pezinok", home_path(2) %></li>
  </ul>
</div>